body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: url("C:\Users\Shri Sabhariesh\OneDrive\Pictures\food ordering portal\flat-lay-arrangement-with-salad-box-sauce_23-2148247883.jpg");
  background-size: cover;
  background-position:center;
}