.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #e60909;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ac2525;
  }
  
  .login-container h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #efe8e800;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff0000;
  }
